:root {
  --line-border-fill: #3498db;
  --line-border-empty: #C4C4C4;
  --progress-zIndex: 1;
}

* {
  box-sizing: border-box;
}

/* body {
    align-items: center;
    background-color: #f8f9fa; 
    
    display: flex;
    font-family: "Muli", sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
  } */

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.progress_container {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 30px; */
  max-width: 100%;
  position: relative;
  width: 350px;
}

.progress_container::before {
  background-color: var(--line-border-empty);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: var(--progress-zIndex);
}

.progress {
  background-color: var(--line-border-empty);
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s ease;
  width: 0%;
  z-index: var(--progress-zIndex);
}

.circle {
  align-items: center;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 50%;
  color: black;
  display: flex;
  height: 30px;
  justify-content: center;
  transition: 0.4s ease;
  width: 30px;
  z-index: 2;
}

.circle1 {
  background-color: #009dff;
  align-items: center;

  border: 3px solid #e0e0e0;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  transition: 0.4s ease;
  width: 30px;
  z-index: 2;
}

.circle_active {
  background-color: #009dff;
  color: white;
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  margin: 5px;
  padding: 8px 30px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
