.new {
  display: flex;
  flex-direction: row;
}
.new form {
  display: flex;
  flex-direction: column;
  gap: 2.344vh;
}
.admin {
  display: flex;
  gap: 65%;
  width: 72.889vw;
  height: 3.906vh;
  justify-content: space-between;
}
.admin span {
  width: 6.667vw;
  height: 3.906vh;
  display: flex;
  gap: 1.111vw;
  align-items: center;
}
.new h4 {
  width: 13.958vw;
  height: 2.148vh;
  margin: 0;
  font-size: 1.25vw;
  line-height: 21.6px;
}
.main {
  display: flex;
  width: 72.889vw;
  height: 25vh;
  gap: 7.563vh;
}
.new form .left {
  display: flex;
  flex-direction: column;
  gap: 1.563vh;
}
.left span {
  width: 33.333vw;
  height: 5.078vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left span label {
  width: 4.444vw;
  height: 2.148vh;
  font-size: 1.758vh;
}
.input {
  width: 24.306vw;
  height: 5.078vh;
  border-radius: 14px;
  /* padding: 1.563vh 1.111vw; */
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  border: none;
}
.new form .right {
  display: flex;
  flex-direction: column;
  gap: 1.563vh;
}
.right span {
  width: 33.333vw;
  height: 5.078vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right span label {
  width: 4.444vw;
  height: 2.148vh;
  font-size: 1.758vh;
}
.salarydetails_rightbutton {
  width: 2.778vw;
  height: 3.906vh;
  border: 1px solid #c4c4c4;
  padding: 0.391vh 0.278vw;
  border-radius: 14px;
  background-color: white;
  font-size: 2.344vh;
  color: #6c6c6c;
}
