.tablegrid {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
  grid-template-columns: 5fr 2fr;
  gap: 1rem;
  height: calc(100vh - 5.5rem);
  overflow-y: auto;
  scrollbar-width: none
  /* scrollbar-color: transparent transparent;
  /* scrollbar-width: thin; */ */
}


@media screen and (max-width: 1300px) {
  .tablegrid {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 5fr;
    grid-template-columns: 6fr;
    row-gap: 1rem;
    height: calc(100vh - 5.5rem);
    scrollbar-width: none;
  }

  /* Change the order of the child containers */
  .tablegrid > :nth-child(2) {
    order: 3;
  }

  .tablegrid > :nth-child(3) {
    order: 2;
    height: 10rem;
  }
}
